{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Company Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>

            {% for transaction in transactions %}
                <tr>
                    <td class="text-start">{{ transaction.symbol }}</td>
                    <td class="text-start">{{ transaction.name }}</td>
                    <td class="text-end">{{ transaction.amount }}</td>
                    <td class="text-end">{{ transaction.price | usd }}</td>
                    <td class="text-end">{{ transaction.date }}  {{ transaction.clock_time }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block img %}

    <img src="/static/broke.jpg" class="img-thumbnail" alt="Gone Broke" height="510" width="510" title="Gone Broke">

{% endblock %}