{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select autofocus class="form-select mx-auto w-auto" id="symbol" name="symbol">
                <option disabled selected>Symbol</option>
                {% for row in sharesOwned %}
                    {% if row.amount != 0 %}
                        <option value="{{ row.symbol }}">{{ row.symbol }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}

{% block img %}

    <img src="/static/lost.jpg" class="img-thumbnail" alt="Oops" height="510" width="510" title="Oops">

{% endblock %}